.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 10px;
}

.pagination button {
  border: 1px solid #ddd;
  background: rgb(172 150 159);
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.pagination button.active {
  background: rgb(102 80 89);
  color: #fff;
 border-color: rgb(102 80 89);
}
