
<h3 class="dobrodoslica">Dobrodošli nazad {{ulogovan.ime}} 💖</h3>

<h5>Broj korisnika,aktivnih naloga, novih registracija/ zahteva/rezervacija, broj prihvacenih i onih na cekanju</h5>
<p>Danas: 23 nova korisnika, 12 zahteva na čekanju, 5 obrađeno.</p>

<div class="dashboard">
  <div class="info-card" style="background-image: url('assets/slike/manikir.jpg');">
    <div class="overlay"></div>
    <div class="card-content">
      <h3>12 termina danas</h3>
    </div>
  </div>

  <div class="info-card" style="background-image: url('/slider/massage8.png');">
    <div class="overlay"></div>
    <div class="card-content">
      <h3>3 nove rezervacije</h3>
    </div>
  </div>

  <div class="info-card" style="background-image: url('assets/slike/salon.jpg');">
    <div class="overlay"></div>
    <div class="card-content">
      <h3>Ukupno 540 klijenata</h3>
    </div>
  </div>
</div>

<table style = "max-width: 500px;">
  <tr>
    <th>Ukupan broj registrovanih kozmetičara:</th>
    <th>Ukupan broj registrovanih klijenata</th>
    <th>Broj rezervacija u proteklih 24h:</th>
    <th>Broj rezervacija u proteklih 7 dana:</th>
    <th>Broj rezervacija u proteklih 30 dana:</th>
    <th>Prosečna ocena usluga:</th>
  </tr>
  <tr>
    <td>10</td>
    <td>10</td>
    <td>10</td>
    <td>10</td>
    <td>10</td>
    <td>10</td>
  </tr>
</table>





<!--<div class="service-gallery">
  <h3>Najpopularnije usluge 🌸</h3>
  <div class="gallery-grid">
    <div class="service" *ngFor="let usluga of popularneUsluge">
      <img [src]="usluga.slika" alt="{{usluga.naziv}}">
      <p>{{usluga.naziv}}</p>
    </div>
  </div>
</div>-->






