

<div class="dashboard">
    <a class="info-card"  routerLink="aktuelneRezervacije" style="background-image: url('/rezervacije/aktuelne.png');">
      <div class="overlay"></div>
      <div class="card-content">
        <h3>Sve moje aktuelne rezervacije</h3>
      </div>
    </a>

    <a class="info-card"  routerLink="arhivaRezervacije" style="background-image: url('/rezervacije/archive.png');">
      <div class="overlay"></div>
      <div class="card-content">
        <h3>Sve moje prošle rezervacije (arhiva)</h3>
      </div>
    </a>

    <a class="info-card"  routerLink="sveRezervacije" style="background-image: url('/rezervacije/reservationBook2.png');">
      <div class="overlay"></div>
      <div class="card-content">
        <h3>Sve moje rezervacije</h3>
      </div>
    </a>
</div>

 <div class="container" >
    <router-outlet></router-outlet>
  </div>









