.registracija{
  background-color: rgba(245, 245, 245, 0.9);
  border-radius: 8px;
  width:40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  margin-left:10px;
  margin-right:10px;
  padding-top:15px;
  padding-bottom:15px;

  min-width:350px;

}

.radnikContainer{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  height: 50%;
  width:100%;
  justify-content: center;
  align-items: center;

  gap: 30px;
}

.info-card {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #fdf0f6; 
  padding: 16px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.info-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.info-card h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.info-card p {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: #e85a8a;
}

.cards_container{
  display: flex;
  flex-direction: row;
  gap:10px;
}



/*=================== NAS TIM ===================*/

.member img{
  height: 130px;
  width:130px;
  border-radius: 50%;

  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.team-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:30px;
}

.team-section {
  padding: 20px 20px;
  text-align: center;
  background: rgba(70, 44, 63, 0.384);
  border-radius: 10px;
}

.team-section h3 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #e85a8a;
font-family: 'Montserrat', serif;
}

.member {
  background: #ffffff;
  border-radius: 16px;
  padding: 15px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 170px;
}

.member:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}


.member img:hover {
  transform: scale(1.05);
}

.member p {
  margin: 0;
  font-weight: 600;
  color: #333;
  font-size: 16px;
}


