<div class="container">

  <div style="width: 100%;" class="grafik">

    <div style="width: 500px;">
      <canvas #barChart></canvas>
    </div>
     <h5>Broj poslova po mesecima za kozmetičara</h5>
    <!--<h4>Raspodela poslova među kozmetičarima u salonu </h4>
    <div style="width: 30%;">
      <canvas #pieChart></canvas>
    </div>-->
  </div>

  <!--<div style="width: 100%;" class="grafik">
    <h5>Prosečan mesečni broj poslova u proteklih 24m</h5>
    <canvas id="histogram"></canvas>
  </div>-->
</div>
