.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grafik{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
